* {
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    grid-template-columns: 20% 80%;
}

.sidebar {
    background-color: #243E36;
    height: 100vh;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 10%;
    font-weight: bold;
    color: #C2A83E;
    width: 100%;
    font-size: 22px;
}

.main {
    background-color: #0B2027;
    display: grid;
    grid-template-rows: 10% 90%;
}

.statistic {
    display: flex;
    flex-direction: row;
    color: #7acd85;
    justify-content: space-evenly;
    margin-top: 3%;
    font-size: 16px;
    font-weight: bold;
}

.books-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#book-head {
    background-color: #13566e;
}

#books {
    border-collapse: collapse;
}

#books td {
    padding: 20px 70px;
}

.input-form {
    padding-top: 50%;
    display: flex;
    flex-direction: column;
    padding-left: 15%;
}

.checkbox {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 5%;
    width: 80%;
}

.input-block {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 80%;
    margin-bottom: 5%;
}

.input-block span.placeholder {
    position: absolute;
    margin: 6px 3px;
    font-size: 18px;
    left: 0;
    transition: all 0.3s;
    transform-origin: 0% 0%;
    pointer-events: none;
    color: #C2A83E;
}

input[type=text] {
    height: 30px;
    background-color: #243E36;
    color: #C2A83E;
    border: none;
    border-bottom-style: dotted;
}

.input-block input:valid + span.placeholder,
.input-block input:focus + span.placeholder {
  transform: scale(0.8) translateY(-30px);
}

#add-book {
    width: 50%;
    padding: 19px 0;
    margin-top: 40px;
    margin-left: 15%;
    border: 1px solid #861948;
    border-radius: 2px;
    background-color: #861948;
    transition: 0.3s;
    border-radius: 50px;
}

#add-book:hover {
    cursor: pointer;
    border-color: #13566e;
    background-color: #13566e;
    transition: 0.3s;
}