* {
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    grid-template-columns: 20% 80%;
}

.sidebar {
    background-color: #243E36;
    height: 100vh;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 10%;
    font-weight: bold;
    color: #C2A83E;
    width: 100%;
}

.main {
    background-color: #0B2027;
}