* {
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    grid-template-columns: 20% 80%;
}

.sidebar {
    background-color: #243E36;
    height: 100vh;
    position: sticky;
    top: 0;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 10%;
    font-weight: bold;
    color: #C2A83E;
    width: 100%;
    font-size: 22px;
    position: sticky;
    top: 10%;
}

.input-form {
    position: sticky;
    top: 15%;
}

.main {
    background-color: #0B2027;
}

.statistic {
    display: flex;
    flex-direction: row;
    color: #7acd85;
    justify-content: space-evenly;
    margin-top: 3%;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 2%;
}

#book-head {
    background-color: #13566e;
    position: sticky;
    top: 0%;
}

#books {
    border-collapse: collapse;
    margin-left: 2%;
    color: white;
    word-wrap: break-word;
}

#books td {
    padding: 20px 70px;
    max-width: 150px;
}

.input-form {
    padding-top: 50%;
    display: flex;
    flex-direction: column;
    padding-left: 15%;
}

.checkbox {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 5%;
    width: 80%;
    color: #366db6;
}

.input-block {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 80%;
    margin-bottom: 5%;
}

.input-block span.placeholder, .edit-input-block span.placeholder {
    position: absolute;
    margin: 6px 3px;
    font-size: 18px;
    left: 0;
    transition: all 0.3s;
    transform-origin: 0% 0%;
    pointer-events: none;
    color: #C2A83E;
}

input[type=text] {
    height: 30px;
    background-color: #243E36;
    color: #C2A83E;
    border: none;
    border-bottom-style: dotted;
}

.input-block input:valid + span.placeholder,
.input-block input:focus + span.placeholder {
  transform: scale(0.8) translateY(-30px);
}

.edit-input-block input:valid + span.placeholder,
.edit-input-block input:focus + span.placeholder {
  transform: scale(0.8) translateY(-30px);
}

#add-book {
    width: 50%;
    padding: 19px 0;
    margin-top: 40px;
    margin-left: 15%;
    border: 1px solid #861948;
    border-radius: 2px;
    background-color: #861948;
    transition: 0.3s;
    border-radius: 50px;
    border: 0 solid;
    outline: 1px solid;
    outline-color: rgba(54, 109, 182, 0.5);
    outline-offset: 0px;
    text-shadow: none;
    transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
}

#add-book:hover {
    cursor: pointer;
    border: 1px solid;
    box-shadow: inset 0 0 20px rgba(54, 109, 182, 0.5), 0 0 20px rgba(255, 255, 255, .2);
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 15px;
    text-shadow: 1px 1px 2px #366db6; 
  }

.validation-text {
    display: none;
    margin: 0;
    font-size: 16px;
    color: #ff0de3;
}

#table-body td{
    border-bottom-style: dashed;
}

.delete-book{
    width: 20px;
    height: 20px;
    background: url('images/remove.png');
    border: none;
    background-size: cover;
}

.edit-book {
    width: 20px;
    height: 20px;
    background: url('images/edit.png');
    border: none;
    background-size: cover;
}


#remove-modal, #edit-modal{
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    align-items: center;
    min-height: calc(100% - 0rem);
}

.remove-modal-card {
    position: relative;
    margin: auto;
    width: 25%;
    border: 2px solid #861948;
    border-radius: 2px;
    box-shadow: rgb(46, 46, 46, 0.2) 0px 2px 8px 0px;
}

.remove-modal-header, .edit-modal-header {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-between;
    background-color: #861948;
    color: white;
}

.remove-close-modal, .edit-close-modal {
    align-self: flex-start;
    color: #366db6;
    font-size: 30px;
    font-weight: 900;
}

.remove-modal-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    align-items: center;
    background-color: #366db6;
    color: white;
    font-size: 16px;
    font-weight: bold;
}
.remove-modal-options {
    background-color: #366db6;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 5%;
    gap: 5%;
}

.remove-modal-options button {
    height: 30px;
    width: 70px;
}

.cancel-removal {
    background-color: #243E36;
    color: white;
    border: none;
    border-radius: 20px;
}

.confirm-removal {
    background-color: #840808;
    color: white;
    border: none;
    border-radius: 20px;
}

.edit-modal-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    align-items: center;
    background-color: #243E36;
    color: white;
    font-weight: bold;
    height: 100%;
}

.edit-modal-card{
    position: relative;
    margin: auto;
    width: 25%;
    height: 50%;
    border: 2px solid #861948;
    border-radius: 2px;
    box-shadow: rgb(46, 46, 46, 0.2) 0px 2px 8px 0px;
    font-size: 18px;
    overflow: hidden;
}

.edit-input-block {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 90%;
    margin-bottom: 10%;
}

#edit-modal form {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}


#edit-modal .checkbox {
    color: #C2A83E;
    padding-bottom: 5%;
}

#edit-modal .buttons {
    display: flex;
    flex-direction: row;
    gap: 100px;
}

#edit-modal #update-book {
    background-color: #7acd85;
    border: none;
    border-radius: 15px;
    width: 100px;
    font-size: 20px;
}

#edit-modal #cancel {
    background-color: #13566e;
    border: none;
    border-radius: 15px;
    width: 100px;
    font-size: 20px;
}

#edit-modal #update-book:hover, #edit-modal #cancel:hover, .cancel-removal:hover, .confirm-removal:hover {
    cursor: pointer;
    box-shadow: inset 0 0 20px rgba(54, 109, 182, 0.5), 0 0 20px rgba(255, 255, 255, .2);
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 15px;
    text-shadow: 1px 1px 2px #366db6; 
}